Options -Indexes
RewriteEngine On

# Admin goes to admin/public
RewriteRule ^admin/(.*)$ admin/public/$1 [L,QSA]

# Main app
RewriteCond %{REQUEST_URI} !^/test/admin/
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]